In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("assets/csv/Groceries_dataset.csv")  # import data from csv
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [3]:
df.dtypes  # check data types

Member_number       int64
Date               object
itemDescription    object
dtype: object

In [4]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')  # convert date to datetime
print(df.head())
df.dtypes  # check data types

   Member_number       Date   itemDescription
0           1808 2015-07-21    tropical fruit
1           2552 2015-01-05        whole milk
2           2300 2015-09-19         pip fruit
3           1187 2015-12-12  other vegetables
4           3037 2015-02-01        whole milk

Member_number               int64
Date               datetime64[ns]
itemDescription            object
dtype: object

In [5]:
print(df.itemDescription.value_counts().sort_values(ascending=True).head())
df.itemDescription.value_counts().sort_values(ascending=True).tail()  # find frequency of most common items

preservation products    1
kitchen utensil          1
baby cosmetics           3
bags                     4
frozen chicken           5
Name: itemDescription, dtype: int64

yogurt              1334
soda                1514
rolls/buns          1716
other vegetables    1898
whole milk          2502
Name: itemDescription, dtype: int64

In [6]:
(df['Date'].max()-df['Date'].min())/np.timedelta64(1,'Y')  # find time span of data

1.9931963010876335

In [7]:
df['itemIndex'] = df.groupby('itemDescription').ngroup()  # create index for items
df.sort_values(by=['Date'], inplace=True, ignore_index=True)  # sort by date
print(df.head())

   Member_number       Date        itemDescription  itemIndex
0           2226 2014-01-01          bottled water         12
1           1789 2014-01-01                candles         18
2           2610 2014-01-01          domestic eggs         49
3           3681 2014-01-01                 dishes         47
4           3942 2014-01-01  Instant food products          0

In [8]:
dates = pd.Series(df['Date'].unique())  # get unique date values
dates.name = "Date"
print(dates.dtype)
items = df['itemDescription'].unique()  # get unique item description values
print(items.dtype)

datetime64[ns]
object

In [9]:
data_series = []
for item in items:
    item_dates = df[df["itemDescription"] == item].Date.value_counts()
    item_dates.name = item

    data_series.append(item_dates)
data_series[0]

2014-07-17    6
2014-06-07    5
2014-10-13    5
2014-12-26    5
2014-11-03    5
             ..
2015-04-13    1
2014-06-14    1
2014-06-10    1
2015-04-16    1
2015-12-30    1
Name: bottled water, Length: 510, dtype: int64

In [10]:
data_frames = [s.to_frame() for s in data_series]
df_date_item_no= pd.concat(data_frames, axis=1)  # create dataframe with item counts
df_date_item_no = df_date_item_no.rename_axis('date', axis=1)  # rename index
df_date_item_no.head()

date,bottled water,candles,domestic eggs,dishes,Instant food products,tropical fruit,shopping bags,butter,other vegetables,whole milk,...,ready soups,organic products,skin care,frozen fruits,cream,frozen chicken,cooking chocolate,bathroom cleaner,flower soil/fertilizer,kitchen utensil
2014-01-01,4.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-02,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-03,NaN,NaN,2.0,1.0,NaN,1.0,1.0,2.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-04,2.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-05,3.0,NaN,1.0,NaN,1.0,1.0,1.0,NaN,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_date_item_no.fillna(0, inplace=True)  # fill NaN values with 0
df_date_item_no.to_csv("assets/csv/df_date_item_no.csv")  # save to csv
df_date_item_no.head()

date,bottled water,candles,domestic eggs,dishes,Instant food products,tropical fruit,shopping bags,butter,other vegetables,whole milk,...,ready soups,organic products,skin care,frozen fruits,cream,frozen chicken,cooking chocolate,bathroom cleaner,flower soil/fertilizer,kitchen utensil
2014-01-01,4.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,3.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-01-02,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,2.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-01-03,0.0,0.0,2.0,1.0,0.0,1.0,1.0,2.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-01-04,2.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-01-05,3.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0